<!DOCTYPE html>
<html>
    <head>
        <title data-bind="text: title">Mr Beam Print</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144x144.png') }}">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/bootstrap-modal.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/bootstrap-slider.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/pnotify.min.css') }}" rel="stylesheet" media="screen">

        {% if stylesheet == "less" %}
            <link href="{{ url_for('static', filename='less/octoprint.less') }}" rel="stylesheet/less" type="text/css" media="screen">

            <!-- Plugin files -->
            {% for name, assets in assetPlugins.items() %}
                {% if "less" in assets %}
                    {% for asset in assets["less"] %}
                        <link href="{{ url_for('plugin_assets', name=name, filename=asset) }}" rel="stylesheet/less" type="text/css" media="screen">
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <!-- /Plugin files -->

            <script src="{{ url_for('static', filename='js/lib/less.min.js') }}" type="text/javascript"></script>
        {% else %}
            <link href="{{ url_for('static', filename='css/octoprint.css') }}" rel="stylesheet" type="text/css" media="screen">
            <!-- Plugin files -->
            {% for name, assets in assetPlugins.items() %}
                {% if "css" in assets %}
                    {% for asset in assets["css"] %}
                        <link href="{{ url_for('plugin_assets', name=name, filename=asset) }}" rel="stylesheet" type="text/css" media="screen">
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <!-- /Plugin files -->
        {% endif %}
        <link href="{{ url_for('static', filename='css/mrbeam.css') }}" rel="stylesheet" media="screen">

        <script lang="javascript">
            var BASEURL = "{{ url_for('index') }}";
            var API_BASEURL = BASEURL + "api/";
            var GCODE_WORKER = "{{ url_for('static', filename='gcodeviewer/js/Worker.js') }}";

            var CONFIG_GCODEFILESPERPAGE = 5000;
            var CONFIG_TIMELAPSEFILESPERPAGE = 10;
            var CONFIG_LOGFILESPERPAGE = 10;
            var CONFIG_USERSPERPAGE = 10;
            var CONFIG_WEBCAM_STREAM = "{{ webcamStream }}";
            var CONFIG_ACCESS_CONTROL = {% if enableAccessControl -%} true; {% else %} false; {%- endif %}
            var CONFIG_SD_SUPPORT = {% if enableSdSupport -%} true; {% else %} false; {%- endif %}
            var CONFIG_FIRST_RUN = {%  if firstRun -%} true; {% else %} false; {%- endif %}
            var CONFIG_TEMPERATURE_GRAPH = {%  if enableTemperatureGraph -%} true; {% else %} false; {%- endif %}
            var CONFIG_GCODE_SIZE_THRESHOLD = {{ gcodeThreshold }};
            var CONFIG_GCODE_MOBILE_SIZE_THRESHOLD = {{ gcodeMobileThreshold }};

            var SOCKJS_URI = window.location.protocol.slice(0, -1) + "://" + (window.document ? window.document.domain : window.location.hostname) + ":" + window.location.port + BASEURL + "sockjs";
            var SOCKJS_DEBUG = {%  if debug -%} true; {% else %} false; {%- endif %}

            var UI_API_KEY = "{{ uiApiKey }}";
            var VERSION = "{{ version }}";
            var DISPLAY_VERSION = "{{ display_version }}";
            var LOCALE = "{{ g.locale }}";

            var ADDITIONAL_VIEWMODELS = [];
        </script>
    </head>
    <body>
        <h1>Test</h1>
    </body>
</html>
