<div id="dialog_vector_graphics_conversion" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
			<div data-bind="visible: show_vector_parameters ">
				<p>{{ _('Vector graphic parameters:') }}</p>

				<div class="control-group">
					<label class="control-label">{{ _('Laser intensity') }} (1-1000)</label>
					<div class="controls">
						<div class="input-append">
							<input id="svgtogcode_intensity_slider" type="text" data-bind="slicerValue: laserIntensity">
							<input id="svgtogcode_intensity" class="slider_manual_input" type="text" data-bind="value: laserIntensity, valueUpdate: 'keyup'">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Speed') }} (<span data-bind="text: minSpeed">20</span> - <span data-bind="text: maxSpeed">3000</span>)</label>
					<div class="controls">
						<div class="input-append">
							<input id="svgtogcode_feedrate_slider" class="uninitialized" type="text" data-bind="value: laserSpeed">
							<input id="svgtogcode_feedrate" class="slider_manual_input" type="text" data-bind="value: laserSpeed, valueUpdate: 'keyup'">
						</div>
					</div>
				</div>
				<div class="control-group" data-bind="visible: showExpertSettings ">
					<label class="control-label">{{ _('Pierce Time (ms)') }} </label>
					<div class="controls">
						<div class="input-append">
							<input type="text" data-bind="value: pierceTime">
						</div>
					</div>
				</div>
            </div>
			
			<div data-bind="visible: show_image_parameters ">
				<p>{{ _('Image engraving parameters:') }}</p>
				<div class="control-group" >
					<label class="control-label">{{ _('Laser intensity') }}</label>
					<div class="controls">
						<div class="input-append">
							<input id="svgtogcode_img_intensity_white" class="img_intensity_input" type="number" min="0" max="1000" data-bind="value: imgIntensityWhite">
							<div class="svgtogcode_grayscale">&nbsp;</div>
							<input id="svgtogcode_img_intensity_black" class="img_intensity_input" type="number" min="0" max="1000" data-bind="value: imgIntensityBlack">
						</div>
					</div>

					<label class="control-label">{{ _('Engraving speed') }}</label>
					<div class="controls">
						<div class="input-append">
							<input id="svgtogcode_img_feedrate_white" class="img_intensity_input" type="number"  min="30" data-bind="value: imgFeedrateWhite">
							<div class="svgtogcode_grayscale">&nbsp;</div>
							<input id="svgtogcode_img_feedrate_black" class="img_intensity_input" type="number"  min="30" data-bind="value: imgFeedrateBlack">
						</div>
					</div>
				</div>
				<div class="control-group" data-bind="visible: showExpertSettings">
					<p >{{ _('Image Preprocessing') }}</p>
					<div class="controls">
						<div class="img_preprocessing_preview before" style="background-image:url(/plugin/svgtogcode/static/img/kitty_grayscale.png);" >before</div>
						<div class="img_preprocessing_preview after" style="background-image:url(/plugin/svgtogcode/static/img/kitty_grayscale.png);" >after
							<div class="img_preprocessing_preview contrast" style="background-image:url(/plugin/svgtogcode/static/img/kitty_contrast.png);" data-bind="style: { opacity: contrastPreview }" ></div>
							<div class="img_preprocessing_preview sharpened" style="background-image:url(/plugin/svgtogcode/static/img/kitty_sharpened.png);" data-bind="style: { opacity: sharpenedPreview }" ></div>
							<div class="img_preprocessing_preview dithered" style="background-image:url(/plugin/svgtogcode/static/img/kitty_dithered_150.png);" data-bind="visible: imgDithering"></div>
						
						</div>
						<div class="photo_attribution"><a href="http://www.christianholmer.com" target="_blank">Photo: Christian Holmér</a></div>
					</div>
					
					<div data-bind="disable:imgDithering ">
						<label class="control-label">{{ _('Contrast') }}</label>
						<div class="controls img_slider">
							<input id="svgtogcode_contrast_slider" type="text" data-bind="value: imgContrast" >
						</div>
						<div style="clear:both"></div>	

						<label class="control-label">{{ _('Sharpening') }}</label>
						<div class="controls img_slider">
							<input id="svgtogcode_sharpening_slider" class="uninitialized" type="text" data-bind="value: imgSharpening">
						</div>
						<div style="clear:both"></div>
					</div>
						
					<label class="control-label">{{ _('Dithering') }}</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" data-bind="checked: imgDithering">{{ _('Dithering') }}
						</label>
					</div>
				</div>
			</div>

            <div class="control-group" data-bind="visible: showExpertSettings ">
				<p>{{ _('Store GCode after conversion:') }}</p>
                <label class="control-label">{{ _('GCode Filename') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="value: gcodeFilename">
                        <span class="add-on"><span data-bind="text:settingsString"></span>.gco</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
		<div class="pull-left">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: showExpertSettings">show advanced settings
			</label>
		</div>

        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-bind="click: function() { if ($root.enableConvertButton()) { $root.convert() } }, enabled: enableConvertButton, css: {disabled: !$root.enableConvertButton()}">{{ _('Convert') }}</a>
    </div>
</div>